.column {
  background: #f3f4f6;
  /* height: 100vh; */
  border-radius: 5px;
  padding: 1rem;
}

.tasks {
  margin-top: 1rem;
  display: grid;
  grid-gap: 1rem;
}

.dragOver {
  background: #86efac;
}