.modalContainer {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center
}

.modal {
  background: white;
  display: grid;
  grid-template-rows: 3rem max-content auto max-content auto;
  min-height: 
}

.closeBtn {
  text-align: right;
  justify-self: end;
  font-size: 3rem;
  align-self: center;
}

.form {
  display: grid;
  grid-gap: 20px;
}

.titleInput {
  width: 100%;
}

.columnAndActions {
  display: grid;
  grid-template-columns: max-content auto max-content max-content;
  grid-gap: 2rem;
  padding: 1rem;
}

.columnAndActions button:first-of-type {
  grid-column: 3/4;
}